* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    padding-right: 45px;
    border-radius: 10px;
    opacity: 0,01999999955295164;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
}

.top_content{
    text-align: left;
    display: flex;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-right: 45px;
}

.header_link {
    color: var(--ffffff, rgb(0, 0, 0));
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img_top{
    margin-top: 147px;
    margin-bottom: 95px;
}
.top_text{
    margin-top: 148px;
    margin-bottom: 15px;
}
.buttons{
    margin-top: 15px;
    margin-bottom: 95px;
}
.top_logos{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
}
.h1_top{
    padding-bottom: 39px;
    padding-right: 45px;
}